.App {
  text-align: center;
  padding: 20px;
}

.scrolling-news {
  width: 100%; /* Full width */
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide overflow */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
  background-color: #f8f9fa; /* Light background */
  padding: 10px 0; /* Padding for aesthetics */
}

.scrolling-news p {
  display: inline-block;
  padding-left: 50%; /* Reduce padding to start closer to the visible area */
  animation: scroll 10s linear infinite; /* Reduce the duration for faster scrolling */
  font-weight: bold;
  color: red;
}

@keyframes scroll {
  from {
    transform: translateX(100%); /* Start from the right */
  }
  to {
    transform: translateX(-100%); /* End at the left */
  }
}


input[type="text"] {
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

button:hover {
  background-color: #45a049;
}

button:focus {
  outline: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.features {
  margin-top: 20px;
}

.feature-item {
  display: inline-block;
  padding: 10px 15px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  font-weight: bold;
}

.feature-item.active {
  background-color: #4CAF50;
  color: white;
}

.feature-item:hover {
  background-color: #ddd;
}

.feature-component {
  margin-top: 30px;
}
